* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {

    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: rgb(245, 245, 250);
    background: -moz-linear-gradient(180deg, rgba(245, 245, 250, 1) 0%, rgba(242, 218, 213, 1) 50%, rgba(160, 171, 214, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(245, 245, 250, 1) 0%, rgba(242, 218, 213, 1) 50%, rgba(160, 171, 214, 1) 100%);
    background: linear-gradient(180deg, rgba(245, 245, 250, 1) 0%, rgba(242, 218, 213, 1) 50%, rgba(160, 171, 214, 1) 100%);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 94px;
}

.header__button-wrapper {
    max-width: 124px;
}

.header__button-wrapper .button {
    font-size: 14px;
    background-color: #BB6BD9;
}


.button {
    border: none;
    background-color: #231D4F;
    border-radius: 25px;
    padding: 13px 30px 9px 30px;
    color: #ffffff;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease-in-out;
}

.button:hover {
    background-color: #A847CC;
}

.main {
    padding: 70px 230px 40px 200px;
}

.main_title {
    color: #231D4F;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.main_subTitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.main_subTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #848199;
    max-width: 584px;
}

.cards {
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 26px;
    padding: 20px 45px 20px 38px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    max-width: 292px;
    z-index: 1;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.plan__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    color: #231D4F;
    margin-bottom: 6px;
}

.plan__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: #231D4F;

}

.plan__paymant-duration {
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #848199;
}

.plan__priceWwrapper {
    margin-bottom: 20px;
}

.plan__description {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #848199;
}

.plan__description-title {
    margin-bottom: 14px;
}

.plan__description-list {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;

}

.plan__description-list li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.check-circle {
    margin-right: 10px;
}

.popular .plan__price,
.popular .plan__description,
.popular .plan__title,
.popular .plan__paymant-duration {
    color: #ffffff;
}

.popular .button {
    background-color: #BB6BD9;
}

.popular .button:hover {
    background-color: #A847CC;
}


.card.popular {
    position: relative;
}

.popular_wrapper {
    position: absolute;
    width: 100%;
    height: calc(100% + 45px);
    background-color: #231D4F;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 26px;
    box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
}

.most-popular-tag {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: end;
}

.most-popular-tag span {
    margin-right: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.83px;
    color: #BB6BD9;
    background-color: #403879;
    border-radius: 13.5px;
    padding: 8px 15px 6px 15px;

}

.price-togler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 220px;
    height: 44px;
    border-radius: 22px;
    position: relative;
}

.price-togler~input {
    display: none;
}

.price-togler::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 44px;
    left: 0;
    bottom: 0;
    background-color: #BB6BD9;
    border-radius: 22px;
    transition: .3s ease-in-out;
}

.active.price-togler:hover:before,
.price-togler:hover:before {
    background-color: #A847CC;
}

.active.price-togler::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 44px;
    left: 110px;
    bottom: 0;
    background-color: #BB6BD9;
    border-radius: 22px;
    transition: .3s ease-in-out;
}


.price-togler .month,
.price-togler .year {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    cursor: pointer;
    z-index: 2;
    transition: .7s;
}

.month {
    color: white;
    padding: 14px 24px 12px 24px;

}

.year {
    padding: 14px 32px 12px 24px;
    color: #3B3472;
}

@media (max-width:1199px) {
    .main {
        padding: 70px 80px 40px 80px;
    }

}

@media (max-width:991px) {
    .main {
        padding: 40px 16px 40px 16px;
    }

    .header {
        padding: 24px 20px;
    }
}

@media (max-width:767px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }

    .card ul {
        margin-bottom: 38px;
    }

    .card.popular ul {
        margin-bottom: 22px;
    }

    .main_title {
        text-align: center;
        letter-spacing: -1.5px;
    }

    .main_subTitleWrapper {
        margin-bottom: 30px;
    }

    .card.popular {
        margin-top: 70px;
    }
}

@media (max-width:575px) {
    .header__button-wrapper {
        display: none;
    }

    .cards {
        padding: 8px 8px 8px 8px;
    }

    .card {
        padding: 20px;
    }

    .most-popular-tag {
        justify-content: center;
    }

    .most-popular-tag span {
        margin-right: 0;
    }

    .main_subTitleWrapper {
        flex-direction: column;
        align-items: center;
    }

    .main_subTitle {
        margin-bottom: 37px;
    }
}